* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkKry-KUB4L6V-98XkJm9MImy5wYHQtGuviHacsWoBgA&s=10);
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0%;
    background-color: #858383;
    border-bottom: 2px solid rgb(115, 7, 7);
    position: sticky;
    top: 0;
    z-index: 10;

}
.logo {
    font-size: 25px;
    font-weight: bold;
    color: rgb(95, 2, 2);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.logo::first-letter {
    color: rgb(37, 2, 2);
}
.pesquisa::first-letter {
    color: rgb(64, 21, 143);
}
.pesquisa {
    display: flex;
    gap: 30px;
}
.pesquisa a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.pesquisa a:hover {
    color: rgb(64, 21, 143);
    font-size: 20px;
}
.escrita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
    color: rgb(241, 241, 241)
}
img {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: blue;
}
.destaque {
    max-height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    position: relative;
}
.destaque img {
    max-width: 100%;
    height: 520px;
    object-fit: cover;
    display: block;
}