* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkKry-KUB4L6V-98XkJm9MImy5wYHQtGuviHacsWoBgA&s=10);
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8 8%;
    background-color: #858383;
    border-bottom: 2px solid rgb(115, 7, 7);
    position: sticky;
    top: 0;
    z-index: 10;

}
.logo {
    font-size: 25px;
    font-weight: bold;
    color: rgb(95, 2, 2);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.logo::first-letter {
    color: rgb(37, 2, 2);
}
.pesquisa::first-letter {
    color: rgb(63, 11, 253);
}
.pesquisa {
    display: flex;
    gap: 30px;
}
.pesquisa a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.pesquisa a:hover {
    color: rgb(64, 21, 143);
    font-size: 20px;
}
.escrita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
    color: rgb(241, 241, 241)

}
.destaque {
    min-height: 520px;
    position: relative;
}
.destaque img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    display: block;
}
.destaque::after {
    position: absolute;
    content: "";
    inset:0;
    background:
      linear-gradient(
        90deg, rgba(0, 0, 0, 0.95),
         rgba(0, 0, 0, 0.65),
         rgba(36, 32, 32, 0.041));
}

.destaque-conteudo {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    z-index: 1;
    max-width: 620px;
}
.categoria {
    color:#e63946;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
h1 {
    font-size: 52px;
    line-height: 1.05;
    margin: 12px 0 20px;
}
.destaque p {
    color:rgb(236, 4, 4):#858383;
    max-width: 550px;
    margin-bottom: 25px;
}
.botao {
    padding: 13px 22px;
    border:none;
    border-radius: 5px;
    background-color: #e63946;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.botao:hover {
    color: black;
    text-decoration: underline;
    scale: 1.1;
}
.secao {
    padding: 70px 8%;
}
.titulo {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 30px;
}
.titulo span {
    color: #e63946;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}
.titulo h2 {
    font-size: 40px;
    margin-top: 5px;
}
.titulo a {
    color: #39bee6;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.titulo a:hover {
    color:#fff;
    text-decoration: none;
    cursor: pointer;
}























































header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8 8%;
    background-color: #858383;
    border-bottom: 2px solid rgb(115, 7, 7);
    position: sticky;
    top: 0;
    z-index: 10;


.logo {
    font-size: 25px;
    font-weight: bold;
    color: rgb(95, 2, 2);
    text-transform: uppercase;
    letter-spacing: 2px;
}